

/* este es mi contenedor grid que es como a nivel del body, contendra todos los componentes del body */
.grid-container {
  /* display: grid; COMENTADO PARA IMPORTAR COMPONENTE CARRUSEL EN HOME */
  /* hice 5 filas porque arriba estara el header, al medio el main con 3 filas y bajo el footer con 1*/
  background-color:#180B26;
  min-width: 300px;
  box-sizing: border-box;

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HEADER / CATEGORIAS / ICONOS  */

/* este es mi header, le asigne una grid area dentro de mi contenedor grid */
.header-grid {
  grid-area: header;
  width: 100%;
}

.header-flex {
  background-color:#180B26;
  height: 124px;
  width: 100vw;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}


.opcionClarinetes {

  display: flex;
  width: 320px;
  flex-grow: 3;
  height: 50px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  background-color: rgb(211, 210, 210);
}



.desplegableMaderas {
  z-index: 1;
  position: absolute;
  background-color: rgb(211, 210, 210);
  margin: 0;
  padding: 0;
  height: auto;

}

.categories-flex {
  list-style: none;
  color: #D9B9FF;
  display: flex;
  width: 10px;
  height: 30px;
  margin: 0;
}

li {
  height: 100%;
  align-items: center;
  margin: 0;
  width: 320px;
   color: #D9B9FF;

}

.menu {
  align-content: center;
  color: #D9B9FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: rgba(255, 228, 196, 0);
  height: 48px;
  padding-bottom: 20px;
}

ul>a {
  color: #D9B9FF;
  height: 100%;
  text-align: center;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}



/* flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
align-self: stretch; */




.logo-header {
  color: rgb(86, 212, 212);
  background: #180B26;
}


.icons {
  display: flex;
  gap: 40px;
  cursor: pointer;
}



.corazon,
.agenda,
.carro {
  width: 32px;
  height: 32px;
  color: #A8E9FE
}


.botonUser {
  background-color:#180B26;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  color: #A8E9FE;

}






/*   ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */