.footer {
    background-color:#180B26;
    min-width: 100dvh;
    padding-bottom: 2rem;
    color: rgb(86, 212, 212);
    font-size: 13px;

}

.facebook,
.instagram,
.tik-tok {
    height: 2rem;
    margin-right: 1rem;
    width: 2rem;
    background-color: #180B26;
    border-radius: 50%;
}

.footer1, .footer2, .footer3, .footer4{
    width: 170px;
}

.footer2  div{
    padding-bottom: 5px;
}


.footer3  div{
    padding-bottom: 5px;
}



.logo {
    height: 2rem;
    margin-top: 1rem;
    color: rgb(74, 192, 192); 
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
}

/* .direccion {
    margin-right: 80px;
} */




.linkSiguenos, .linkServicioCliente, .linkTienda{
    color: #D9B9FF ;
}
